@font-face {
    font-family: PublicPixel;
    src: url(../font/PublicPixel.ttf) format(truetype);
    font-weight: 100;
}

@font-face {
    font-family: FFF-Forward;
    src: url(../font/FFFFORWA.TTF) format(truetype);
    font-weight: 100;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(../images/background_1.jpg);
    background-size: cover;
    background-position: 52%;
}

@media screen and (max-width: 380px) {
    body {
        background-position: 0%;
    }

    footer {
        margin-top: 20px;
    }
}

main {
    background-color: purple;
    border-radius: 10px;
    width: 351px;
    padding: 20px 30px;
    border: yellow 4px dashed;
    box-shadow:  5px 5px 1px 2px rgba(0, 0, 0, 0.5);
    display: grid;
    grid-template-columns: repeat(3, 80px);
    grid-template-rows: 35px, repeat(3, 80px), 50px;
    gap: 20px;
}

main > * {
    box-sizing: border-box;
}

.turn-indicator {
    grid-column: 1 / 3;
    height: 30px;
    overflow: hidden;
}

.turn-indicator > p {
    display: flex;
    align-items: center;
    gap: 5px;
    font-family: FFF-Forward, Helvetica, sans-serif;
    font-size: 14px;
    text-align: center;
    transition: 0.3s ease-in-out;
}

p > b {
    font-family: PublicPixel, Helvetica, sans-serif;
    font-size: 28px;
}

.player-1 {
    color: yellow;
    text-shadow: black 0 0 2px;
}

.player-1.hidden {
    transform: translateY(-30px);
}

.turn-indicator > .player-2 {
    transform: translateY(-30px);
}

.player-2 {
    color: rgb(253, 188, 66);
    text-shadow: black 0 0 2px;
}

.player-2.hidden {
    transform: translateY(30px);
}

.drop-down-menu {
    position: relative;
    height: 30px;
    overflow: visible;
}

.drop-down-item {
    position: absolute;
    width: 80px;
    height: 30px;

    top: 0;
    left: 0;

    border-radius: 2px;
    background-color: rgb(182, 89, 182);
    transition: transform 0.3s;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: FFF-Forward, Helvetica, sans-serif;
    font-size: x-small;

    cursor: pointer;
}

#actions {
    z-index: 2;
}

.show {
    position: relative;
    z-index: 1;
}

.drop-down-item:hover {
    background-color: rgb(180, 125, 180);
    border: solid 1px rgb(242, 242, 17);
}

.board-square {
    height: 80px;
    width: 80px;

    border-radius: 10px;
    background-color: rgb(222, 100, 222);
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.6);
    border: solid 3px rgb(170, 170, 72);

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: PublicPixel, Helvetica, sans-serif;
    font-size: 48px;

    padding-left: 7px;
    padding-bottom: 5px;
    cursor: pointer;
}

.board-square:hover {
    background-color: rgb(222, 100, 222);
    box-shadow: inset 5px 5px 4px rgba(0, 0, 0, 0.6), 5px 5px 4px rgba(0, 0, 0, 0.6);
    outline: solid 2px rgb(242, 242, 17);
}

.bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;

    text-align: left;
    font-family: FFF-Forward, Helvetica, sans-serif;
    font-size: 10px;

    border-radius: 5px;
    padding: 10px;

    border: yellow 2px solid;
}

.draws {
    color: white;
    text-shadow: black 0 0 2px;
    background-color: rgb(171, 4, 171);
}

.p1-wins {
    color: yellow;
    text-shadow: black 0 0 2px;
    background-color: rgb(114, 3, 114);
}

.p2-wins {
    color: rgb(253, 188, 66);
    text-shadow: black 0 0 2px;
    background-color: rgb(84, 1, 84);
}

footer  {
    text-align: center;
    font-family: FFF-Forward, Helvetica, sans-serif;   
    font-size: 0.6rem; 

    background-color: purple;
    border: yellow 2px solid;
    box-shadow: 5px 5px 1px 2px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 14px;
}

footer > p {
    margin-bottom: 5px;
}

footer a {
    color: yellow;
    text-decoration: none;
}

footer a:hover {
    color: white;
    text-decoration: underline;
}

.blur {
    filter: blur(5px);
}

.blur > *:hover {
    border: none;
    box-shadow: none;
    outline: none;
}

.winner-display {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    
    border-radius: 5px;
    padding: 10px;
    border: yellow 2px solid;
    background-color: rgb(225, 105, 225);
    box-shadow: 5px 5px 1px 2px rgba(0, 0, 0, 0.5);

    font-family: FFF-Forward, Helvetica, sans-serif;
    font-size: 1rem;
}

.winner-display > p {
    color: yellow;
    text-shadow: black 0 0 2px;
    text-align: center;

    width: 200px;
}

.winner-display > button {
    border-radius: 5px;
    border: yellow 2px solid;
    background-color: rgb(84, 1, 84);

    color: yellow;
    text-shadow: black 0 0 2px;
    cursor: pointer;

    width: 150px;
    padding: 10px auto;
}